* {
    padding: 0;
    margin: 0;
}

#halamanutama {
    background-color: antiquewhite;
    width: 100%;
    height: 500px;
}

#menuplaylist {
    width: 100%;
}

#menuplaylist .container {   
    align-items: center;
    width: 100%;
    background-color: #f0eff4;
    margin-top: 30px;
    border-radius: 50px;
    position: relative;
    z-index: 4;
    
}

#menuplaylist .container h3::before{   
    content: '';
    display: block;
    position: absolute;
    bottom: 510px;
    width: 120px;
    height: 10px;
    background-color: black;
    left: calc(50% - 60px);  
}

#menuplaylist .container .row .card {
   margin: 30px 5px 70px 5px;
   background-color: #f0eff4;
  
}

.row {
    margin-top: 10px;
   
}

.row h3{
    margin-top: 30px;  
}

.myplaylist {
    position: relative;
    z-index: 3;
}

#playlist .row h3{
    margin-top: 130px;  
}

#playlist .myplaylist {
    background-color: aquamarine;
    width: 100%;
    margin-top: -70px;  
    border-radius: 40px;
}

#playlist .myplaylist h3::before{   
    content: '';
    display: block;
    position: absolute;
    bottom: -100px;
    width: 120px;
    height: 10px;
    background-color: black;
    left: calc(50% - 60px);  
}

#playlist .youtube {
    background-color: bisque;
    width: 100%;
  
}

#playlist .youtube iframe{
    margin-top: 30px;
}

.myplaylist .row iframe {
    margin-bottom: 60px;
}

.youtube .judul {
    padding-top: 110px;
}

#playlist .youtube {
    padding-bottom: 60px;
    margin-top: -60px;
    border-radius: 40px;
    position: relative;
    z-index: 2;
}

#playlist .spotify {
    background-color: rgb(196, 255, 197);
    width: 100%;
    padding-top:40px ;
    margin-top: -40px;
    position: relative;
    z-index: 1;
    
}


#playlist .spotify .judul h3{
    padding-bottom: 40px ;
    padding-top: 50px;
}

@media screen and (max-width: 576px) { 
 
    #menuplaylist .container h3::before{   
        bottom: 210px; 
    }

    .tiktok-embed {
        max-width: 205px;
        min-width: 75px;
    }
 }