* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: bella;
    src: url(font/bellaboo.otf);
  }


.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-image: url(img/noisy_net.webp);
}
.navbar img {
  margin-right: 5px;
}

.btn {
    background-color: #121212;
    color: #f0eff4;
}
#halamanutama {
     background-image: url(img/swirl_pattern.webp);
    width: 100%;
    height: 800px;
}

#halamanutama .container  {
padding-top: 80px;
}

#mode {
    position: relative;
    z-index: 1;
}

#tulisan {
    margin-top: -850px;
    width: 100%;
    position: relative;
    z-index: 0;
}

#halamanutama #kanji img {
    width: 400px
 }

#halamanutama .container #mode img {
    width: 300px
}

#halamanutama .container h1 {
    font-family: bella;
    font-size: 100px;
} 

#halamanutama .container .row #pg1 {
    font-family: 'Quicksand', sans-serif;
    margin-top: -20px;
}

#halamanutama .container .row #desktop{
    padding-left: 300px;
}

#menuplaylist {
    width: 100%;
    background-color: #d6d5dd;
    padding-top: 30px;
}

#menuplaylist .container {   
    align-items: center;
    width: 100%;
    background-image: url(img/email-pattern.webp);
    border-radius: 50px;
    position: relative;
    z-index: 4;
    
}

#menuplaylist .container h3::before{   
    content: '';
    display: block;
    position: absolute;
    bottom: 480px;
    width: 120px;
    height: 10px;
    background-color: black;
    left: calc(50% - 60px);  

}

#menuplaylist .container .row .card {
   margin: 30px 5px 70px 5px;
   background-color: transparent;
   border: 0;
}

#menuplaylist .container .row .card a{
   font-size: 20px;
   color: #f0eff4;
   background-color: #121212;
 }

#playlist .myplaylist .container h2 {
    margin-top: 40px;
    margin-bottom: 10px;
   
}

.row {
    margin-top: 10px;
   
}

h3, h2{
font-family: 'Montserrat', sans-serif;
font-size: 40px;

}
.row h3{
    margin-top: 30px;  
}

.myplaylist {
    position: relative;
    z-index: 3;
}

#playlist .row h3{
    margin-top: 130px;  
}

#playlist .myplaylist {
    background-image: url(img/denim.webp);
    color: #f9f9f9;
    width: 100%;
    margin-top: -70px;  
    padding-top: 80px;
    border-radius: 40px;
}


#playlist .myplaylist h3::before{   
    content: '';
    display: block;
    position: absolute;
    bottom: 600px;
    width: 120px;
    height: 10px;
    background-color: black;
    left: calc(50% - 60px);  

}

#playlist .youtube {
    background-image: url(img/email-pattern.webp);
    width: 100%;
  
}

#playlist .youtube iframe{
    margin-top: 30px;
}

.myplaylist .row iframe {
    margin-bottom: 60px;
}

.youtube .judul {
    padding-top: 110px;
}

#playlist .youtube {
    padding-bottom: 60px;
    margin-top: -60px;
    border-radius: 40px;
    position: relative;
    z-index: 2;
}

#playlist .spotify {
    background-image: url(img/denim.webp);
    color: #f0eff4;
    width: 100%;
    padding-top:40px ;
    padding-bottom: 100px;
    margin-top: -40px;
    position: relative;
    z-index: 1;
    
}


#playlist .spotify .judul h3{
    padding-bottom: 40px ;
    padding-top: 50px;
}

#playlist .tiktok {
    background-image: url(img/email-pattern.webp);
    width: 100%;
    padding-top: 70px ;
    margin-top: -35px;
    position: relative;
    z-index: 1;
    border-radius: 40px;
    
}

footer {
    text-align: center;
    color: #f0eff4;
    background-image: url(img/noisy_net.webp);
    height: 100px;
    
}

footer img{
    width: 30px;
    margin-top: 25px;
}

@media screen and (max-width: 576px) { 

    .navbar-brand{
        margin-left: -180px;
    }

    #tulisan {
        margin-top: -200px;
        
    }

    #halamanutama {
        height: 1000px;
        margin-bottom: -70px;
    }

    #menuplaylist .container {
        width: 90%;
    }
 
    #menuplaylist .container h3::before{   
        bottom: 430px; 
    }

    .myplaylist .container .row iframe {
        width: 400px;
        height: 300px;
    }

    .tiktok-embed {
        max-width: 205px;
        min-width: 75px;
    }

    #menuplaylist .container .row .card{
        width: 150px;
        margin: 20px 5px 10px 5px;
     }

     #menuplaylist .container .row #youtubecard{
        margin-top: -10px;
     }

   
 }